.t-table.data-v-bd827e56{width:100%;border:1px #d0dee5 solid;border-left:none;border-top:none;box-sizing:border-box}.t-table.data-v-bd827e56 t-tr{display:-webkit-box;display:-webkit-flex;display:flex}.t-table.data-v-bd827e56 t-tr:nth-child(2n){background:#f5f5f5}